<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/gurunandhan-adp/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/guruadp" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Graduate student and Ex-Software Development Engineer</h3>
                <p class="font-italic">
                    Currently an incoming robotics master\'s student at the University of Maryland, College Park who has completed the Bachelor of Engineering, focusing on Mechatronics with First class with distinction in May 2020 from Thiagarajar College of Engineering affiliated with Anna University. I was awarded the overall best outgoing student - Medal of excellence (Gold Medal) in my batch of nearly 1000 students across various departments for my all-round performance in academics, co-curricular, and extra-curricular activities. 
                    
                    As a Software Development Engineer for the past 2 years, I have worked on several projects in Python, Artificial Intelligence, and web developement. My career goal is to specialize in the field of Robotics and Autonomous Systems.
                   
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong>Maryland, USA</strong>
                            </li>
                            <!-- <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Lens, France</strong>
                            </li> -->
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:guruadp@umd.edu">
                                        guruadp@umd.edu</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 23 years </strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Masters in Robotics (ongoing)</strong>
                            </li>
                            <!-- <li>
                                <fa-icon [icon]="home"></fa-icon><strong> I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.</strong>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.
                </p>
            </div>
        </div>
    </div>
</section>